:root {
  --primary-accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --prymary-background-color: #2f303a;
  --logo-color: #000000;
  --btn-background-color: #188ce8;
  --body-background-color: #f5f4fa;
  --portfolio-border-color: #eeeeee;
  --primary-icon-color: #afb1b8;
  /* --primary-border-color: transparent; */
}
/* html {
  box-sizing: border-box;
} */

/* *,
::after,
::before {
  box-sizing: border-box;
  }
 */

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

/* :focus-visible {
outline: none;} */

h1,
h2,
h3,
p,
ul
 {
  margin: 0;
  padding: 0;
}

.img {
  padding: 0;
  display: block;
}

.list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

/*header*/

.page-header {
  margin: auto;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--portfolio-border-color);
}

.container-nav {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;

  /*   outline: 3px solid #e81856; */
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__nav-list {
  display: flex;
  list-style: none;
  margin-left: 93px;
  gap: 50px;
}

.page-header__link-list {
  display: flex;
  list-style: none;
  margin-left: auto;
  gap: 30px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--logo-color);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-accent-color);
}

.nav-list__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--primary-accent-color);
}

.nav-list__link.nav-list__link--current {
  color: var(--primary-accent-color);
}

.page-header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover,
.page-header__link:focus {
  color: var(--primary-accent-color);
}

.page-header__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover .header-icon,
.page-header__link:focus .header-icon {
  fill: currentColor;
}

.nav-list__link.nav-list__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
}
/*section main*/

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-transform: uppercase;
  max-width: 696px;
  margin: auto;
  color: var(--primary-white-color);
}

.section-hero__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--primary-accent-color);
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero__btn:hover,
.section-hero__btn:focus {
  background-color: var(--btn-background-color);
}

/*section features*/

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}

.list-features {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-icon {
  display: flex;
  background-color: var(--body-background-color);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-icon-item {
  fill: var(--primary-text-color);
  margin: auto;
}

.text-features {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

/*section work*/

/* .work {
  background-color: var(--primary-white-color);
} */

.section-work {
  padding-bottom: 94px;
}

.section-work.list {
  justify-content: space-between;
}

.section-work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}



.section-work__item {
  position: relative;
}

.section-work__thumb {
  position: absolute;
  bottom: 0;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
}

.section-work__label {
  padding: 28px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* .work-list+.work-list {
  margin-left: 30px;
} 
 */

/*section team*/

.section-team {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--body-background-color);
}

.container-team {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.list.team {
  justify-content: space-between;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.member-icon {
  display: flex;
  margin-top: 16px;
  gap: 10px;
}

.icon-nets {
  list-style: none;
}

.nets {
  margin: auto;
  fill: var(--primary-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.team-list {
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 0px 0px 4px 4px;
}

.team-icon {
  display: flex;
  align-items: center;
  margin: auto;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover,
.team-icon:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
}

.team-icon:hover .nets,
.team-icon:focus .nets {
  fill: var(--primary-white-color);
}

.member-block {
  padding: 30px;
}

.team {
  background-color: var(--body-background-color);
}

/* Наші клієнти */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.clients-list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover,
.client:focus {
  border-color: var(--primary-accent-color);
}

.client-icon {
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .client-icon,
.client:focus .client-icon {
  fill: var(--primary-accent-color);
}

/*портфолио*/

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  color: var(--primary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  /*   outline: 3px solid #29e818; */
}

.filter-list {
  display: flex;
  margin: 0 auto;
  margin-bottom: 56px;
  justify-content: center;
  list-style: none;
  gap: 8px;
  /*  outline: 3px solid #29e818; */
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
  list-style: none;
}

.portfolio-link {
  display: block;
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
}

/* .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
} */

/* .item:nth-child(3n) {
  margin-right: 0px;
} */

.portfolio-text {
  padding: 20px 0 24px 20px;
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
}

img {
  display: inherit;
}

.title {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 4px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.comment {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-thumb:hover::before {
  content: '';
  opacity: 1;
}

.overlay-text {
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/*footer*/

.container-footer {
  align-items: baseline;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-list {
  margin-top: 28px;
  list-style: none;
  text-decoration: none;
}

/* .logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
  text-decoration: none;
}
 */

.logo.page-footer__logo {
  color: var(--primary-white-color);
}

.page-footer {
  background: var(--prymary-background-color);
  padding: 60px 0;
}

.adress {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-item-one {
  margin-top: 9px;
}

.footer-item-two {
  margin-top: 9px;
}

.footer-contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--primary-accent-color);
}

.footer-icon {
  margin-left: 70px;
}

.footer-icon-list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  list-style: none;
}

.slogan {
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.icon-list {
  display: flex;
  align-items: center;
  margin: auto;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list:hover,
.icon-list:focus {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
}

.icon-footer {
  margin: auto;
  fill: var(--primary-white-color);
}

.icon-footer-bg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
}

.footer-form {
  margin-left: auto;
}
.footer-form-container {
  display: flex;
}

.footer-form-slogan {
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-form-input {
  width: 358px;
  background: var(--prymary-background-color);
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-submit {
  margin-left: 12px;
  margin-top: 36px;
}

.footer-submit-button {
  display: flex;
  align-items: center;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 11px 28px;
  color: var(--primary-white-color);

  background: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.footer-form-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close {
  margin: auto;
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: var(--primary-accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Форма */

/* .form {
  width: 448px;
  margin: 40px;

  outline: 1px solid green;
} */

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.input-group {
  margin-top: 12px;
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus {
  cursor: pointer;
  outline: none;
  border-color: var(--primary-accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-icon {
  fill: var(--primary-accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-area {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-comment-area::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment-area:focus {
  cursor: pointer;
  outline: none;
  border-color: var(--primary-accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  fill: var(--primary-text-color);
  top: 50%;
  left: 12px;
}

.form-icon:focus {
  fill: var(--primary-accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--primary-accent-color);
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.form-button:focus {
  cursor: pointer;
  background-color: var(--btn-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-checkbox {
  margin-left: 12px;
  margin-top: 20px;
} */

.form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checked-icon {
  /* transform: translate(-50%); */
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: var(--primary-white-color);
  margin-right: 8.38px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked ~ .checked-icon {
  /* border: none; */
  border-color: transparent;
  background-color: var(--primary-accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: var(--primary-accent-color);
  text-decoration-skip-ink: none;
}
