
%container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

%list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

%section {
  padding-top: 94px;
  padding-bottom: 94px;
}
